<form name="changePasswordForm" ng-submit="sendForm()" novalidate>
  <div class="form-group">
    <input fin-focus-blur-form ng-model="form.current_password" type="password" name="currentPassword" placeholder="Contraseña actual" ng-class="{error: changePasswordForm.currentPassword.$error.required && !changePasswordForm.currentPassword.$pristine}" required>
  </div>
  <div class="form-group">
    <input fin-focus-blur-form ng-model="form.password" type="password" name="password" placeholder="Nueva contraseña" ng-class="{error: changePasswordForm.password.$error.required && !changePasswordForm.password.$pristine}" required>
  </div>
  <div class="form-group">
    <input ng-model="form.password_confirmation" type="password" name="confirmPassword" placeholder="Confirmar nueva contraseña" ng-class="{error: (changePasswordForm.confirmPassword.$error.required || changePasswordForm.confirmPassword.$error.match) && !changePasswordForm.confirmPassword.$pristine}" match="form.password" required>
  </div>
  <div layout="row" layout-align="end center" class="form-group button">
    <md-button type="submit" ng-disabled="changePasswordForm.$invalid">Actualizar</button>
  </div>
</form>
