<div id="user-accounts">
  <div class="accounts">
    <ul>
      <li>
        <div layout="row" layout-align="start center">
          <div flex="35" flex-sm="30">
            Cuentas Bancarias
          </div>
          <div flex="35" flex-sm="30">
            Nombre Personalizado
          </div>
          <div flex="20" flex-sm="40">
            Saldo
          </div>
          <div flex="10" hide-sm>
            Acción
          </div>
        </div>
      </li>
      <li ng-repeat="bankAccount in bankAccounts | filter: {is_investment_account: false}">
        <fin-bank-account bank-account="bankAccount"></fin-bank-account>
      </li>
    </ul>
  </div>
  <div class="options" layout="row" layout-align="center center">
    <md-button class="btn btn-primary" ng-click="showAddDialog($event)">
      Agregar Cuenta
    </md-button>
  </div>
</div>
