<form ng-submit="sendForm()" name="loginForm" class="inputs" novalidate>
  <div class="field">
    <div class="label">
      <span>Correo Electronico</span>
    </div>

    <input fin-focus-blur-form is-input-group ng-model="login.email" class="input" type="email" name="email" tabindex="1" required>
  </div>
  <div class="field">
    <div class="label">
      <span>Contraseña</span>
      <a href="#" tabindex="4">Recuperar Contraseña</a>
    </div>

    <input fin-focus-blur-form is-input-group ng-model="login.password" class="input" type="password" name="password" ng-minlength="3" tabindex="2" required>
  </div>
  <div class="button-container">
    <button class="button" tabindex="3">Iniciar Sesión</button>
  </div>
</form>
