<div id="chart-filter-select-sub-accounts" >
  <div fin-dropdown fin-dropdown-class="dropdown">
    <div class="dropdown-menu">
      <div class="select" layout="row" layout-align="center center">
        <div layout="row" layout-align="center center" flex>
          ({{getActives()}}) Cuentas Agregadas
        </div>
        <div class="icon">
          <div layout="row" layout-align="center center">
            <i class="fa fa-lg fa-caret-down"></i>
          </div>
        </div>
      </div>
    </div>
    <div class="dropdown-content md-whiteframe-z3">
      <div layout="column">
        <div class="options">
          <div ng-repeat="subAccount in subAccountsList">
            <md-checkbox ng-model="subAccount.active" ng-change="changeCheckbox(subAccount)" aria-label="sub account select checkbox" class="md-primary">
              {{subAccount.name}}
            </md-checkbox>
          </div>
        </div>
        <div class="footer" layout="row" layout-align="space-between center">
          <div class="all" ng-click="toggleSelection()">Todas las cuentas</div>
          <md-button class="button" ng-click="send()" ng-disabled="getActives() === 0">Filtrar</md-button>
        </div>
      </div>
    </div>
  </div>
</div>
