div.user-account-container {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: row;
  justify-content: center;
  background-color: #f2f1f5;

  .content {
    display: flex;
    flex-direction: column;
    width: 80%;
    display: flex;

    div.header {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 100%;
      margin-top: 20px;
      margin-bottom: 20px;

      h2 {
        color: #a6a6a7;
        align-self: flex-start;
        font: 24px / 40px Montserrat;
      }

      .button-container {
        display: flex;
        align-items: center;

        button {
          height: 40px;
          width: 139px;
          background-color: #00bfc3;
          color: #ffffff;
          font: 400 12px Montserrat;
          border: 0;
          border-radius: 4px;
        }
      }
    }
  }

  $table-background-color: #fff;
  $table-border: 4px;

  .table-container {
    width: 100%;
    border: 1px solid rgb(221,223, 224);
    border-radius: $table-border;
    background-color: #f7f7f7;

    .table {
      width: 100%;
      text-align: left;
      background-color: #ffffff;
      border-radius: $table-border;

      th:first-child {
        width: 45px;
      }

      tr.header {
        height: 40px;
        color: #a6a6a7;
        font: 400 13px Montserrat;
      }

      tr.title {
        border-top: 1px solid #f1f2f2;
        color: #a6a6a7;
        height: 40px;

        .account-name {
          color: #a6a6a7;
          font: 24px Montserrat;
        }

        .account-custom-name {
          color: #2d3b48;
          font: 300 13px Montserrat;
        }

        .account-balance {
          color: #ffffff;
          font: 300 13px Montserrat;

          & span {
            padding: 5px;
            border-radius: 4px;
          }
        }

        .positive span {
          background-color: #76bb5d;
        }

        .negative span {
          background-color: #f3565d;
        }
      }

      tr.sub-account {
        height: 27px;
        background-color: #fff;

        &:nth-child(even) {
          background-color: #f7f6f9;
        }

        .account-name {
          color: #00bfc3;
          font: 300 12px Montserrat;
        }

        .account-balance {
          font: 300 11px Montserrat;

          & div {
            width: 70px;
            text-align: right;
            font-size: 12px;
          }

          &.positive {
            color: #76bb5d;
          }

          &.negative {
            color: #f3565d;
          }
        }
      }

      tr.separator {
        height: 10px;
      }
    }
  }
}
