<!-- navbar -->
<fb-menu style="width: 100%;"></fb-menu>

<div class="user-account-container row">
    <div class="content">
      <div class="header">
        <h2>Cuentas bancarias</h2>
        <div class="button-container">
          <button>Agregar Cuenta</button>
        </div>
      </div>

      <div class="table-container">

        <table class="table">
          <thead>
          <tr class="header">
            <th style="width:45px"></th>
            <th style="width:425px">Cuentas agregadas</th>
            <th style="width:500px">Nombre personalizado</th>
            <th>Saldo</th>
          </tr>
          </thead>
          <!--EACH BANK ACCOUNT-->
          <tbody>
            <table class="table" ng-repeat="bankAccount in bankAccounts">
              <tr class="title">
                <td style="width: 50px; padding-left: 17px;" flex="100" layout-align="center end">
                  <div
                    class="options"
                    fin-dropdown
                    flex="10"
                    hide-sm>
                    <div class="dropdown-menu">
                      <i class="fa fa-lg fa-chevron-down"></i>
                    </div>
                  </div>
                </td>
                <td class="account-name" style="width:530px">{{ bankAccount.bank }}</td>
                <td class="account-custom-name" style="width:635px">{{ bankAccount.name }}</td>
                <td class="account-balance positive" style="width:130px">
                  <span>${{ getBankAccountBalance(bankAccount.subAccounts) | roundNumber | number | commaToDot }}</span>
                  </td>
              </tr>

              <tr class="sub-account" ng-repeat="subAccount in bankAccount.subAccounts">
                <td></td>
                <td align="left" class="account-name" style="width: 520px">
                  {{ subAccount.name }}
                  <span ng-if="subAccount.currency == 'international'"> Int.</span>
                  {{ subAccount.number }}
                </td>
                <td></td>
                <td class="account-balance" ng-class="subAccount.balance > 0 ? 'positive': 'negative'">
                  <span ng-if="subAccount.currency == 'national'">$</span>
                  <span ng-if="subAccount.currency == 'international'">USD</span>
                  <span>{{ subAccount.balance | roundNumber | number | commaToDot  }}</span>
                </td>
                <td></td>
              </tr>
            </table>
          </tbody>

          <!-- <tr class="title">
            <td></td>
            <td class="account-name">Banco de Chile / Edwards Citi</td>
            <td class="account-custom-name">Cuenta Uso permanente</td>
            <td class="account-balance positive"><span>$900.000</span></td>
          </tr>

          <tr class="sub-account">
            <td></td>
            <td colspan="2" class="account-name">Cuenta Corriente *3006</td>
            <td class="account-balance positive">
              <div>$120.000</div>
            </td>
          </tr>

          <tr class="sub-account">
            <td></td>
            <td colspan="2" class="account-name">Cuenta Corriente *3006</td>
            <td class="account-balance negative">
              <div>$120.000</div>
            </td>
          </tr>

          <tr class="sub-account last">
            <td></td>
            <td colspan="2" class="account-name">Cuenta Corriente *3006</td>
            <td class="account-balance negative">
              <div>$120.000</div>
            </td>
          </tr>

          <tr class="separator"></tr>

          <tr class="title">
            <td></td>
            <td class="account-name">Banco de Chile / Edwards Citi</td>
            <td class="account-custom-name">Cuenta Uso permanente</td>
            <td class="account-balance positive"><span>$900.000</span></td>
          </tr>

          <tr class="sub-account">
            <td></td>
            <td colspan="2" class="account-name">Cuenta Corriente *3006</td>
            <td class="account-balance positive">
              <div>$120.000</div>
            </td>
          </tr>

          <tr class="sub-account">
            <td></td>
            <td colspan="2" class="account-name">Cuenta Corriente *3006</td>
            <td class="account-balance negative">
              <div>$120.000</div>
            </td>
          </tr>

          <tr class="sub-account last">
            <td></td>
            <td colspan="2" class="account-name">Cuenta Corriente *3006</td>
            <td class="account-balance negative">
              <div>$120.000</div>
            </td>
          </tr>

          <tr class="sub-account last">
            <td></td>
            <td colspan="2" class="account-name">Cuenta Corriente *3006</td>
            <td class="account-balance negative">
              <div>$120.000</div>
            </td>
          </tr> -->

        </table>

      </div>

    </div>
  </div>
</div>
