<nav class="left-sidebar" ng-show="showLeftSidebar" ng-swipe-left="toggleButton()" fin-full-height>
  <ul>
    <li ng-class="{active: isActive('dashboard')}">
      <a ui-sref="dashboard">
        <i class="fa fa-user fa-2x"></i>
        <span>
          Mi panel
        </span>
      </a>
    </li>
    <li ng-class="{active: isActive('transactions')}">
      <a ui-sref="transactions">
        <i class="fa fa-exchange fa-2x"></i>
        <span>
          Mis transacciones
        </span>
      </a>
    </li>
    <li ng-class="{active: isActive('analysis')}">
      <a ui-sref="analysis.expenses-by-category">
        <i class="fa fa-pie-chart fa-2x"></i>
        <span>
          Análisis
        </span>
      </a>
    </li>
    <li ng-class="{active: isActive('budgets')}">
      <a ui-sref="budgets">
        <i class="fa fa-money fa-2x"></i>
        <span>
          Presupuestos
        </span>
      </a>
    </li>
    <li ng-class="{active: isActive('employer')}">
      <a ui-sref="employer.debts">
        <i class="fa fa-bar-chart fa-2x"></i>
        <span>
          Mis estadísticas
        </span>
      </a>
    </li>
    <li ng-class="{active: isActive('user')}">
      <a ui-sref="user.profile">
        <i class="fa fa-gear fa-2x"></i>
        <span>
          Configuración
        </span>
      </a>
    </li>
    <li>
      <a ng-click="logout()">
        <i class="fa fa-sign-out fa-2x"></i>
        <span>
          Cerrar sesión
        </span>
      </a>
    </li>
  </ul>
  <div class="brands">
    <hr>
    <a ng-href="https://www.facebook.com/finciero">
      <i class="fa fa-facebook-square fa-lg"></i>
    </a>
    <a ng-href="https://twitter.com/finciero">
      <i class="fa fa-twitter-square fa-lg"></i>
    </a>
  </div>
</nav>
