$color-white: #ffffff;

$color-default: #f2f1f5;
$color-default-dark: #a6a6a7;
$color-default-darker: #888888;
$color-default-light: #dee1e2;

$color-default-tab: #f4f4f5;

$color-primary: #4dc3c5;
$color-primary-dark: #01b4b8;
$color-primary-darker: #008C90;
$color-primary-light: #06d3d7;

$color-success: #76bb5d;
$color-success-dark: #70b457;

$color-danger: #f3565d;
$color-danger-dark: #ed5259;
$color-danger-toast: #d56666;

$color-sidebar-active: #26333e;
$color-sidebar-inactive: #2d3b48;
$color-sidebar-title: #717f8d;
$color-sidebar-list-normal: #adb3b8;
$color-sidebar-list-active: #fff;

$color-font-default: #2d3b48;
