@import url(https://fonts.googleapis.com/css?family=Roboto:100,300,700,400,500);

$font-family: 'Roboto', sans-serif;

// Font sizes (16 base)
$font-size-base: 0.875em; //14
$font-size-xs: 0.625em; //10
$font-size-sm: 0.688em; //11
$font-size-md: 0.750em; //12
$font-size: 1.000em; //16
$font-size-lg: 1.250em; //20
$font-size-xl: 1.500em; //24
$font-size-xxl: 2em; //
$font-size-xxxl: 3em; //42

$font-size-modal: 1.8em;
