<div
  class="budget"
  layout="row">
  <span
    ng-show="budget.category"
    flex="35"
    flex-sm="45">
    {{budget.category}}
  </span>
  <span
    ng-hide="showOptions"
    flex>
  </span>
  <progress
    max="100"
    value="{{percentage}}"
    flex="40"
    flex-md="30"
    flex-sm="25">
  </progress>
  <span class="total">
    ${{budget.total | roundNumber | number | commaToDot}}
  </span>
  <span
    ng-if="showOptions"
    flex>
  </span>
  <span
    ng-if="showOptions"
    class="options"
    ng-click="showEditDialog($event)">
    <i class="fa fa-lg fa-pencil"></i>
    <md-tooltip
      md-direction="top"
      md-delay="0">
      Editar Presupuesto
    </md-tooltip>
  </span>
  <span
    ng-if="showOptions"
    class="options"
    ng-click="showRemoveDialog($event)">
    <i class="fa fa-lg fa-trash"></i>
    <md-tooltip
      md-direction="top"
      md-delay="0">
      Remover Presupuesto
    </md-tooltip>
  </span>
</div>
