<div class="sidemenu-container">
<div class="accounts">
  <div ng-show="isLoading" style="">
    <md-progress-circular
      md-diameter="25"
      class="loading white md-default-theme"
      style="margin:0 auto;"
      md-mode="indeterminate">
    </md-progress-circular>
  </div>
  <div class="bank-account-container" ng-repeat="bankAccount in bankAccounts">
    <div class="header">
      <div class="title">
        <span>{{ bankAccount.bank }}</span>
      </div>
      <div class="balance negative">
        <span>
          ${{ getBankAccountBalance(bankAccount.subAccounts) | roundNumber | number | commaToDot }}
        </span>
      </div>
    </div>
    <div class="sub-accounts-container">
      <div class="sub-account" ng-repeat="subAccount in bankAccount.subAccounts">
        <div class="title">
          <span>
            {{ subAccount.name }}
            <span ng-if="subAccount.currency == 'international'"> Int.</span>
          </span> <span class="number">{{ subAccount.number }}</span>
        </div>
        <div class="balance" ng-class="subAccount.balance > 0 && subAccount.statement == 'asset' ? 'positive' : 'negative'">
          <span ng-if="subAccount.currency == 'national'">$</span>
          <span ng-if="subAccount.currency == 'international'">USD&nbsp;</span>
          <span>{{ subAccount.balance | roundNumber | number | commaToDot  }}</span>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="buttons" style="position:fixed; bottom:0px">

  <div class="button" ng-click="showAddBankAccountDialog($event)">
    <div>
      <icon class="ion-ios-plus-outline icon-add">&nbsp;&nbsp;</icon>
    </div>

    <div>
      Agregar Cuenta
    </div>
  </div>

  <div class="separator"></div>

  <div class="button with-subtitle">
    <div class="row">
      <div>
        <icon class="ion-refresh icon-refresh"> </icon>
      </div>

      <div>
        Actualizar
      </div>
    </div>
    <div class="row subtitle">
      {{ lastUpdate }}
    </div>
  </div>
</div>
